.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  flex-grow: 1;
}

.adjustAllButton {
  margin-top: 4px;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

.actionButton {
  width: 100%;
  margin-top: 20px;
}

.imageContainer {
  /* margin: auto 0; */
  width: calc(100% + 48px);
  margin-top: 32px;
}

.imagePanel {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 12px;
}

.alignRight {
  justify-content: flex-end;
  /* transform: rotate(45deg);
  transform-origin: center right; */
}

.alignRight > div {
  transform-origin: right;
}

.alignLeft {
  justify-content: flex-start;
  /* transform: rotate(-45deg);
  transform-origin: center left; */
  margin-top: -80px;
}

.alignLeft > div {
  transform-origin: left;
}

.handCanvas {
  position: relative;
  min-height: 159px;
}

.leftHandCanvas {
  transform: rotate(-45deg) scale(1.1);
}

.rightHandCanvas {
  transform: rotate(45deg) scale(1.1);
}

.buttonLine {
  position: fixed;
  bottom: 20px;
  z-index: 10;
  width: calc(100% - 80px);
}

@media (min-width: 414px) {
  .leftHandCanvas {
    transform: rotate(-45deg) scale(1.2);
  }
  
  .rightHandCanvas {
    transform: rotate(45deg) scale(1.2);
  }
}

@media (min-width: 768px) {
  .fingerImage {
    min-height: 360px;
  }

  .alignRight {
    margin-top: 20px;
  }

  .alignLeft {
    margin-bottom: 80px;
  }

  .buttonLine {
    position: unset;
    width: 100%;
  }
}
