.container {
  background: #F8F1ED;
  padding: 18px;
  /* width: 100%; */
  width: 480px;
}

.titleContainer {
  text-align: center;
}

.title {
  font-size: 18px;
  color: #2C4349;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.leftAlign {
  text-align: left;
}

.description {
  font-size: 16px;
  /* font-family: gentiumBasic; */
  color: #2C4349;
  background: #FFF9F7;
  padding: 8px;
  margin: 12px 0;
}

.caution {
  height: 42px;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'avenirLight';
}

.backButton {
  position: absolute;
  left: 12px;
  transform: translate(-50%, 0);
  width: 20px;
  height: 20px 0;
}

.backButton:hover {
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #F7BFA0;
}

.gifImage {
  margin-top: 16px;
  width: 100%;
  height: calc(100vh - 280px);
  object-fit: cover;
}

.retakeContinueContainer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.rowContainer {
  display: flex;
  align-items: center;
}

.retakeConfirmMessage {
  padding-top: 13px;
}

.lastConfirm {
  font-size: 13px;
  /* font-family: gentiumBasic; */
  color: #2C4349;
  padding: 8.8px 0;
  text-align: center;
}

.retakePicturePanel {
  padding-top: 28px;
  height: 100px;
  text-align: center;
}

.retakeActionLine {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  width: 100%;
}

.retakeButton {
  width: 48%;
  height: 56px;
  background-color: #fff;
  border: 1px solid #2C4349;
  color: #2C4349;
  text-align: center;
  bottom: 40px;
}

.continueButton {
  width: 48%;
  height: 56px;
}

.stepperContainer {
  width: 100%;
  padding: 0 16px;
}

.highLight {
  font-family: 'avenirBlack';
  color: #F7BFA0;
}

.bold {
  font-family: 'avenirBlack';
}

.proTips {
  letter-spacing: 2px;
}