.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleContainer {
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F1ED;
  font-family: 'avenirLight';
  letter-spacing: 2px;
}

.contentContainer {
  background-color: #F9F9F9;
  padding: 40px 28px 100px;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.subTitle {
  font-family: 'avenirBlack';
  text-align: center;
}

.subDescription {
  font-size: 12px;
  margin: 8px 0 20px;
  text-align: center;
}

.description {
  text-align: center;
}

.cameraIcon {
  margin-right: 8px;
}

.floatButton {
  position: fixed;
  bottom: 24px;
  width: calc(100% - 52px);
  max-width: 480px;
  height: 60px;
  z-index: 200;
  color: #2C4349;
  font-size: 14px;
  /* box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1); */
}

.highLight {
  font-family: 'avenirBlack';
  color: #F7BFA0;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}