ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c20 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.71;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.71;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c14 {
  padding-top: 0pt;
  padding-bottom: 16pt;
  line-height: 1.71;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.71;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c22 {
  padding-top: 0pt;
  padding-bottom: 16pt;
  line-height: 1.71;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c21 {
  padding-top: 0pt;
  padding-bottom: 15pt;
  line-height: 1.71;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c17 {
  padding-top: 20pt;
  padding-bottom: 10pt;
  line-height: 1.71;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.71;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c19 {
  padding-top: -3pt;
  padding-bottom: 17pt;
  line-height: 1.5500000000000003;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c2 {
  color: #2c4349;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-style: normal
}

.c3 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-style: normal
}

.c4 {
  -webkit-text-decoration-skip: none;
  color: #2c4349;
  text-decoration: underline;
  text-decoration-skip-ink: none
}

.c26 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-style: italic
}

.c23 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 20pt;
  font-style: normal
}

.c11 {
  color: #666666;
  vertical-align: baseline;
  font-size: 15pt;
  font-style: normal
}

.c5 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline
}

.c18 {
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt
}

.c0 {
  font-weight: 400;
  font-family: "Gentium Basic"
}

.c15 {
  color: inherit;
  text-decoration: inherit
}

.c24 {
  font-family: "Gentium Basic";
  font-weight: 700
}

.c10 {
  color: #2c4349
}

.c6 {
  page-break-after: avoid
}

.c16 {
  background-color: #fcfcfc
}

.c25 {
  height: 11pt
}

.c8 {
  background-color: #ffffff
}

.c7 {
  color: #1155cc
}
