.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  place-items: center;
  width: 100%;
  padding: 20px;
  background-color: #eddbd1;
  margin: 0 auto 40px;
  text-align: center;
}

.item {
  display: grid;
  place-items: center;
  background-color: #fff;
  width: 156px;
  height: 156px;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 20px;
  }

  .item {
    width: 232px;
    height: 232px;
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    width: 1120px;
    padding: 36px;
    grid-gap: 40px;
    margin: 0 auto 72px;
  }
}