.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  padding: 20px;
  z-index: 200;
  background-color: #F6F6F6;
  min-height: 100vh;
  box-shadow: 1px 1px 3px 0px rgba(97,97,97,0.6);
}

.button {
  width: 48%;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-size: 14px;
  border: 2px solid #fff;
}

.button:hover {
  border: 2px solid #2C4349;
}

.colorRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0 14px;
}

.bubbleItem {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
}

.colorIcon {
  height: 28px;
}

.colorIcon:hover {
  width: 33px;
  height: 48px;
}

.colorName {
  position: absolute;
  transform: translate(-50%, 0);
  white-space: nowrap;
  left: 50%;
  top: 32px;
}

.iconButton {
  width: 48%;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0;
  justify-content: left;
  border: 2px solid #fff;
}

.iconButton:hover {
  border: 2px solid #2C4349;
}

.iconButtonIcon {
  margin-right: 12px;
  height: 28px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 150;
  background: rgba(44, 67, 73, 0.33);
}

.applyButton {
  width: 100%;
}

.closeButton {
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 40px;
  color: #fff;
}

@media (min-width: 480px) {
  .container {
    position: absolute;
    top: 100%;
    width: 480px;
    min-height: 600px;
    z-index: 50;
  }

  .button {
    width: 30%;
  }

  .iconButton {
    width: 32%;
    height: 52px;
    margin-bottom: 8px;
    padding: 0 14px;
  }

  .iconButtonIcon {
    height: unset;
  }

  .colorIcon {
    height: unset;
    width: 31px;
    height: 45px;
  }

  .colorName {
    top: 48px;
  }

  .overlay {
    z-index: 1;
    background: unset;
  }

  .closeButton {
    display: none;
  }

  .colorRow {
    padding: 10px 0 20px;
  }
}