.root {
  position: fixed;
  top: 40px;
  height: 80px;
  width: 100vw;
  z-index: 100;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container {

  width: calc(100% - 50px);
  opacity: 1;
  padding: 0;
  margin: 0;

}

.shadowContainer{
  box-shadow: 1px 2px 6px black;
  border-radius: 3px;
  background-color: white;
  margin-bottom: -10px;
}

.stepBarContainer {
  display: flex;
  padding: 10px;
}

.stepBar {
  background: #fdeadf;

  height: 6px;
  border-radius: 3px;
  flex: 10;
}

.stepBar .complete {
  background: #F7BFA0;
  height: 6px;
  border-radius: 3px;
  width: 0;
}
.stepIndex {
  color: #f7bfa0;
  font-family: AvenirBook;
  font-size: 10px;
  padding-left: 5px;
  line-height: 7px;

}

.summary {
  display: flex;
  padding: 3px 10px 10px 10px;
  align-items: center;
}
.dropGroup {

  display: flex;
  justify-content: center;
  align-items: center;
}

.waterDrop {
  height: 30px;
}

.description {
  font-family: AvenirBook;
  font-size: 16px;
  color: #2c4349;
  flex: 3;
  padding-right: 3px;
}

.proTipsContainer {
  background-color: #f5f0e9;
  padding: 10px 0px 10px 20px;

}


.description .bold {
  font-family: AvenirHeavy;
  text-transform: uppercase;
  font-size: 16px;
}

.exampleImage{
  width: 43px;
  height: 50px;
  object-fit: cover;
}

.checkIcon {
  color: #69b297;
}

.proTips {
  color: #F7BFA0;
}

.menuDialog {
  
}

.infoIcon {
  margin-left: -31px;
  margin-top: 5px;
  margin-right: 10px;

}

.label {

  color: white;
  font-size: 16px;
  font-family: AvenirHeavy;
  transform: translate(-20px, 5px);
}