.container {
  position: fixed;
  right: 0;
  display: none;
  align-items: stretch;
  background: #f0f0f0;
  padding: 30px;
  border-top: 1px solid #f7bfa0;
  box-shadow: 0 1px 3px 0 rgba(202, 125, 125, 0.15);
  z-index: 300;
  text-transform: none;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.oneColumn {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #f7bfa0;
  padding-left: 24px;
  font-size: 12px;
  letter-spacing: 2px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 168px;
  height: 460px;
}

.shop-all-item {
  display: flex;
  text-transform: uppercase;
  width: 188px;
}

.by-designer-section {
  width: 400px;
}

.by-designer-item {
  display: flex;
  text-transform: none;
  width: 188px;
}

.designerMenuItems {
  width: 340px;
  text-transform: none;
}

.collectionMenuItems {
  text-transform: none;
}

.columnTitle {
  font-family: 'avenirBlack';
  text-transform: uppercase;
  padding: 0px 4px 4px 4px;
}

.menuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 4px 4px 4px;
  white-space: nowrap;
  margin-right: 12px;
}

.menuItem:hover {
  transition: ease-out 0.2s;
  /* transform: translateY(-0.5px); */
  background-color: #f7bfa0;
}

.preview {
  border: 1px dotted #00f;
  background-color: #ddf;
}

.saleItem {
  color: #d30047;
}

.saleItem:hover {
  transition: ease-out 0.2s;
  color: #d30047;
}

.newBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 28px;
  height: 13px;
  font-size: 7px;
  font-family: 'avenirHeavy';
  color: #f7bfa0;
  margin-left: 12px;
  margin-right: auto;
  text-transform: uppercase;
}

.shopMenuBanner {
  cursor: pointer;
  width: 180px;
  margin-left: auto;
  object-fit: contain;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  transition: ease-out 0.2s;
  color: #f7bfa0;
}

.leftImage {
  display: none;
}

@media (min-width: 768px) {
  .container {
    right: 0px;
    display: flex;
    /* width: calc(100% - 140px); */
    /* max-width: 900px; */
  }

  .content {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .container {
    /* width: 900px; */
    /* height: 288px; */
    right: 70px;
    /* max-width: 960px; */
  }

  .shopMenuBanner {
    width: 312px;
  }

  .menuItems {
    width: 200px;
    height: 380px;
  }

  .designerMenuItems {
    width: 340px;
  }

  .collectionMenuItems {
    width: 300px;
  }
}

@media (min-width: 1320px) {
  .leftImage {
    display: flex;
    height: 300px;
    object-fit: contain;
    margin-right: 12px;
  }
}
